@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

* {
    box-sizing: border-box;
    
}
body {
  
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    background:url('img/lake-tahoe.jpg')  no-repeat;
    background-size:100%;
    padding: 15px;

}

body,
input,
.container
.btn {
    display: inline-block;
}

h2{
    
    font-size: bold;
    margin: 26px;
    padding: 33px;
}

#myList,
.btn,
h2,
label,
.container {
    text-align: center;
}




#myList,
.btn {
    font-size: 18px;
    height: 33px;
    border-radius: 15px;
    margin: 33px;
}

#myList {
    width:330px;
}

.btn {
    width: 145px;
}

#snowboard {
    font-size: 32px;
    text-align: center;
}

/* =================================
  Media Queries
==================================== */

